.Modes {
  margin-top: 20%;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 20%;
}
.Modes__Heading {
  font-size: 1.3rem;
  padding: 1.5rem;
  text-align: center;
  border-radius: 1rem;
  margin-bottom: 5%;
  background: none;
  color: inherit;
  border: none;
  cursor: pointer;
  outline: inherit;
}
.Modes__Heading--Active {
  box-shadow: 4px 4px 4px rgba(38, 36, 61, 0.25),
    -4px -4px 4px rgba(255, 255, 255, 0.75);
}

.Modes__Heading--InActive {
  box-shadow: inset 4px 4px 4px rgba(38, 36, 61, 0.25),
    inset -4px -4px 4px rgba(255, 255, 255, 0.75);
}
.Modes__Heading__Container {
  display: flex;
  flex-direction: column;
}
