.Modes__Time {
  height: 100%;
  margin: 2rem;
}

.Modes__Time__TimeBoxes {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 100%;
  min-height: 40%;
}
.TimeBoxes__Box {
  padding: 1rem;
  margin: 0.5rem;
  border-radius: 0.5rem;
  background: none;
  color: inherit;
  border: none;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  height: 60px;
}
.TimeBoxes--InActive {
  box-shadow: inset 4px 4px 4px rgba(38, 36, 61, 0.25),
    inset -4px -4px 4px rgba(255, 255, 255, 0.75);
}
.TimeBoxes--Active {
  box-shadow: 4px 4px 4px rgba(38, 36, 61, 0.25),
    -4px -4px 4px rgba(255, 255, 255, 0.75);
}
