.TextBox {
  font-size: 1.5rem !important;
  word-wrap: break-word;
  width: 756px;
}

.TextBox:focus {
  box-shadow: 4px 4px 2px rgba(38, 36, 61, 0.25),
    -4px -4px 2px rgba(255, 255, 255, 0.75);
}

.Word {
  white-space: nowrap;
}
.Letter {
  color: #26243d;
  opacity: 0.6;
}
.Letter--Correct {
  color: #26243d;
  opacity: 1;
}
.Letter--Wrong {
  color: red;
}
.Letter--Active {
  animation: blink 0.5s infinite;
}
@keyframes blink {
  100% {
    background-color: #26243d;
    color: white;
  }
}
