.Home {
  display: grid;
  grid-template-columns: 1.5fr 5fr 1.5fr;
  height: 100vh;
  width: 100vw;
}

.Home-Modes {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.Home-Main {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
