.Settings {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
}

.Settings--Modes {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Settings--Time {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 15%;
}

.Settings--Difficulty {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
